@import "../../flyweight-theme.scss";

/*
 * !important is necessary due to the "react-bootstrap" package having limited
 * customizability, in comparison to "bootstrap" (which is easily customizable by
 * importing the official bootstrap mixins or functions).
 */

%base-btn {
  border-radius: 6px !important;
  color: $fw-nile-blue !important;

  &:hover,
  &:active {
    color: $fw-white !important;
  }
}

.primary {
  @extend %base-btn;
  background: $fw-blizzard-blue !important;

  &:hover,
  &:active {
    background: $fw-lochmara !important;
  }
}

.secondary {
  @extend %base-btn;
  background: $fw-emperor !important;

  &:hover,
  &:active {
    background: $fw-emperor !important;
  }
}