@import "./flyweight-theme.scss";

.bgBlack {
  background: $fw-black;
}

.bgMystic {
  background: $fw-mystic;
}

.animFadeDown {
  animation: fade-down 3s infinite ease-out;
}

@keyframes fade-down {
  from {
    bottom: 20px;
    opacity: 0.8;
  }

  to {
    bottom: 0;
    opacity: 0.2;
  }
}