// Naming convention: https://chir.ag/projects/name-that-color/
$fw-malibu: #77bdf6;
$fw-black-pearl: #051532;
$fw-white: #fff;
$fw-lochmara: #0076bd;
$black-squeeze: #e1f4f4;
$fw-emperor: #4f4f4f;
$fw-black: #000;
$fw-blizzard-blue: #99e1f3;
$fw-nile-blue: #172f50;
$fw-mystic: #EDF2F4;
$fw-mercury: #e1e1e1;

$fw-font-xs: 0.8;
$fw-font-sm: 0.9;

@import '~bootstrap/scss/bootstrap.scss';