// Naming convention: https://chir.ag/projects/name-that-color/
$fw-malibu: #77bdf6;
$fw-black-pearl: #051532;
$fw-white: #fff;
$fw-lochmara: #0076bd;
$black-squeeze: #e1f4f4;
$fw-emperor: #4f4f4f;

@import '~bootstrap/scss/bootstrap.scss';